nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

nav .logo {
    position: relative;
    width: 12rem;
    height: 5rem;
    left: 2.5rem;
    cursor: pointer;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: aqua;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
    right: 5rem;
    gap: 3rem;
    cursor: pointer;
}

.menu {
    width: 3.2rem;
    height: 2.5rem;
    position: relative;
    top: 0.5rem;
    right: 1rem;
    display: none;
    cursor: pointer;
}

nav ul li:hover {
    color: aqua;
}

@media (max-width: 768px) {
    nav ul li {
        display: none;
    }

    nav .logo {
        left: 0.5rem;
        height: 3.5rem;
        width: 10rem;
    }

    .menu {
        display: block;
    }
}