footer {
    background-color: #f9b7f2;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: "Sour Gummy", serif;
    letter-spacing: 2px;
    text-align: center;
}

@media (max-width: 768px) {
    footer p {
        font-size: 2.5vw;
    }
}