<main>
    <div class="banner">
        <div class="text">
            <h1>Welcome to Hyderabad</h1>
            <p>The City of Pearls</p>
        </div>
    </div>

    <div class="about">
        <div class="letter">
            <h2>About</h2>
            <p>"Hyderabad, the vibrant capital of Telangana, is renowned for its rich history, stunning architecture,
                and delectable cuisinei. This dynamic city seamlessly blends tradition and modernity, offering a unique
                cultural experience that captivates visitors from around the world."</p>
        </div>

        <div class="container">
            <div class="grid">
                <!-- Card 1 -->
                <div class="card">

                    <div class="image">
                        <img src="/assets/img1.jpeg" alt="history">
                    </div>
                    <div class="content">
                        <h3>History</h3>
                        <p>Hyderabad, founded in 1591 by Muhammad Quli Qutb Shah, has a rich heritage that blends various cultures and influences. Originally a center for the diamond and pearl trade, it became the capital of the Nizams, who were known for their opulence and patronage of arts and architecture.</p>
                    </div>

                </div>

                <!-- Card 2 -->
                <div class="card">

                    <div class="image">
                        <img src="/assets/img2.jpg" alt="geography">
                    </div>
                    <div class="content">
                        <h3>Geography</h3>
                        <p>Located in the Deccan Plateau, Hyderabad is characterized by its rocky terrain and artificial lakes. The city has a tropical climate, with the best times to visit being from October to March when temperatures are mild.</p>
                    </div>

                </div>

                <!-- Card 3 -->
                <div class="card">

                    <div class="image">
                        <img src="/assets/img3.jpg" alt="Abstract Potrait Painting">
                    </div>
                    <div class="content">
                        <h3>Demographic</h3>
                        <p>"Hyderabad is one of the most diverse cities in India, with a population of over 10 million. The primary languages spoken are Telugu and Urdu, along with English, reflecting its multicultural fabric."</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>